# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
.directory
tags
test-images/

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Latex
*.log
*.aux
*.backup
*.toc
*._aux
*._log
*.pdf
*.project.vim
*.synctex.gz
*.out
*.fls
*.fdb*
*.epub

*~
